<%= form_with(model: book, local: true) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, id: :book_title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :author %>
    <%= form.text_field :author, id: :book_author, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :ISBN %>
    <%= form.text_field :ISBN, id: :book_ISBN, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :publisher %>
    <%= form.text_field :publisher, id: :book_publisher, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :genre %>
    <%= form.text_field :genre, id: :book_genre, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :publish_date %>
    <%= form.date_select :publish_date, id: :book_publish_date, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :image %>
    <%= form.text_field :image, id: :book_image, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit 'Submit', class: 'btn btn-primary btn-lg' %>
  </div><br/>
<% end %>
