<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @book.ISBN %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @book.publisher %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @book.genre %>
</p>

<p>
  <strong>Publish date:</strong>
  <%= @book.publish_date %>
</p>

<%# <%= image_tag @book.image, width: 250, alt='' %>
<img width="250" src="<%= @book.image %>" alt="No Photo Provided"/>
<br/><br/>

<%= link_to 'Edit', edit_book_path(@book), class: 'btn btn-sm btn-primary' %> |
<%= link_to 'Back', books_path, class: 'btn btn-sm btn-primary' %>
